<div class="layout-footer-body">
  <small class="version">Version 1.0.0</small>
  <small class="copyright">2016 &copy; Elephant By <a href="http://naksoid.com/">Naksoid</a></small>
</div><!-- /.layout-footer-body -->