<div class="theme-panel theme-panel-collapsed">
  <div class="theme-panel-controls">
    <button class="theme-panel-toggler" title="Expand theme panel ( ] )" type="button">
      <span class="icon icon-cog icon-spin" aria-hidden="true"></span>
    </button>
  </div>
  <div class="theme-panel-body">
    <div class="custom-scrollbar">
      <div class="custom-scrollbar-inner">
        <h5 class="theme-heading">
          <a href="#" class="btn btn-primary btn-block">Buy Elephant Now!</a>
        </h5>
        <ul class="theme-settings">
          <li class="theme-settings-heading">
            <div class="divider">
              <div class="divider-content">Theme Settings</div>
            </div>
          </li>
          <li class="theme-settings-item">
            <div class="theme-settings-label">Header fixed</div>
            <div class="theme-settings-switch">
              <label class="switch switch-primary">
                <input class="switch-input" type="checkbox" name="layout-header-fixed" data-sync="true">
                <span class="switch-track"></span>
                <span class="switch-thumb"></span>
              </label>
            </div>
          </li>
          <li class="theme-settings-item">
            <div class="theme-settings-label">Sidebar fixed</div>
            <div class="theme-settings-switch">
              <label class="switch switch-primary">
                <input class="switch-input" type="checkbox" name="layout-sidebar-fixed" data-sync="true">
                <span class="switch-track"></span>
                <span class="switch-thumb"></span>
              </label>
            </div>
          </li>
          <li class="theme-settings-item">
            <div class="theme-settings-label">Sidebar sticky*</div>
            <div class="theme-settings-switch">
              <label class="switch switch-primary">
                <input class="switch-input" type="checkbox" name="layout-sidebar-sticky" data-sync="true">
                <span class="switch-track"></span>
                <span class="switch-thumb"></span>
              </label>
            </div>
          </li>
          <li class="theme-settings-item">
            <div class="theme-settings-label">Sidebar collapsed</div>
            <div class="theme-settings-switch">
              <label class="switch switch-primary">
                <input class="switch-input" type="checkbox" name="layout-sidebar-collapsed" data-sync="false">
                <span class="switch-track"></span>
                <span class="switch-thumb"></span>
              </label>
            </div>
          </li>
          <li class="theme-settings-item">
            <div class="theme-settings-label">Footer fixed</div>
            <div class="theme-settings-switch">
              <label class="switch switch-primary">
                <input class="switch-input" type="checkbox" name="layout-footer-fixed" data-sync="true">
                <span class="switch-track"></span>
                <span class="switch-thumb"></span>
              </label>
            </div>
          </li>
          <li class="theme-settings-description">
            <span><strong>Sidebar sticky*</strong> - by scrolling up and down the page, the menu placed on the sidebar moves along with the content until the bottom of the menu is reached. <a href="page-layouts.html">Learn more</a></span>
          </li>
        </ul>
        <hr class="theme-divider">
        <ul class="theme-variants">
          <li class="theme-variants-item theme-variants-current">
            <a class="theme-variants-link" href="/elephant/flaming-red/" title="Flaming Red (default)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/9722110524.jpg" alt="Flaming Red Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/flaming-red-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/flaming-red-inverse/" title="Flaming Red (inverse)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/9870681590.jpg" alt="Flaming Red Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/flaming-red-inverse-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/flatistic-green/" title="Flatistic Green (default)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/9964167452.jpg" alt="Flatistic Green Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/flatistic-green-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/flatistic-green-inverse/" title="Flatistic Green (inverse)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/1007517980.jpg" alt="Flatistic Green Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/flatistic-green-inverse-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/midnight-blue/" title="Midnight Blue (default)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/1015664515.jpg" alt="Midnight Blue Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/midnight-blue-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/midnight-blue-inverse/" title="Midnight Blue (inverse)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/1025453682.jpg" alt="Midnight Blue Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/midnight-blue-inverse-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/materialistic-blue/" title="Materialistic Blue (default)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/1033422797.jpg" alt="Materialistic Blue Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/materialistic-blue-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/materialistic-blue-inverse/" title="Materialistic Blue (inverse)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/1044368407.jpg" alt="Materialistic Blue Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/materialistic-blue-inverse-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/eerie-black/" title="Eerie Black (default)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/1050099119.jpg" alt="Eerie Black Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/eerie-black-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
          <li class="theme-variants-item">
            <a class="theme-variants-link" href="/elephant/eerie-black-inverse/" title="Eerie Black (inverse)" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">
              <img class="img-responsive" src="img/1067123558.jpg" alt="Eerie Black Theme">
            </a>
            <a class="theme-variants-alt" href="/elephant/eerie-black-inverse-rounded/" title="Rounded Corners Version" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip">Rounded</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="theme-panel-footer">
    <a class="rounded sq-36 bg-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdemo.naksoid.com%2Felephant&t=The%20fastest%20way%20to%20build%20modern%20admin%20site%20for%20any%20platform%2C%20browser%2C%20or%20device" title="Share on Facebook" target="_blank">
      <span class="icon icon-facebook"></span>
    </a>
    <a class="rounded sq-36 bg-twitter" href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fdemo.naksoid.com%2Felephant&text=The%20fastest%20way%20to%20build%20modern%20admin%20site%20for%20any%20platform%2C%20browser%2C%20or%20device:%20http%3A%2F%2Fdemo.naksoid.com%2Felephant&via=naksoid" title="Tweet" target="_blank">
      <span class="icon icon-twitter"></span>
    </a>
    <a class="rounded sq-36 bg-googleplus" href="https://plus.google.com/share?url=http%3A%2F%2Fdemo.naksoid.com%2Felephant" title="Share on Google+" target="_blank">
      <span class="icon icon-google-plus"></span>
    </a>
    <a class="rounded sq-36 bg-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fdemo.naksoid.com%2Felephant&title=The%20fastest%20way%20to%20build%20modern%20admin%20site%20for%20any%20platform%2C%20browser%2C%20or%20device&summary=Elephant%20is%20a%20front-end%20template%20created%20to%20help%20you%20build%20modern%20web%20applications%2C%20fast%20and%20in%20a%20professional%20manner.&source=http%3A%2F%2Fdemo.naksoid.com%2Felephant" title="Share on LinkedIn" target="_blank">
      <span class="icon icon-linkedin"></span>
    </a>
    <a class="rounded sq-36 bg-pinterest" href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fdemo.naksoid.com%2Felephant&media=http://demo.naksoid.com/elephant/img/ae165ef33d137d3f18b7707466aa774d.jpg&description=Elephant%20is%20a%20front-end%20template%20created%20to%20help%20you%20build%20modern%20web%20applications%2C%20fast%20and%20in%20a%20professional%20manner." title="Pin it" target="_blank">
      <span class="icon icon-pinterest-p"></span>
    </a>
    <a class="rounded sq-36 bg-default" href="mailto:?subject=The%20fastest%20way%20to%20build%20modern%20admin%20site%20for%20any%20platform%2C%20browser%2C%20or%20device&body=Elephant%20is%20a%20front-end%20template%20created%20to%20help%20you%20build%20modern%20web%20applications%2C%20fast%20and%20in%20a%20professional%20manner.:%20http%3A%2F%2Fdemo.naksoid.com%2Felephant" title="Send email" target="_blank">
      <span class="icon icon-envelope-o"></span>
    </a>
  </div>
</div>