// Base styles
.dataTable {
  border-collapse: separate;
  clear: both;
  margin-bottom: $padding-small-vertical;
  margin-top: $padding-small-vertical;
  max-width: none;

  &.nowrap th,
  &.nowrap td {
    white-space: nowrap;
  }

  .sorting,
  .sorting_asc,
  .sorting_desc {
    cursor: pointer;
    outline: none;
    white-space: nowrap;

    &:after {
      display: inline-block;
      font-family: FontAwesome;
      font-size: $font-size-small;
      height: $line-height-computed;
      line-height: $line-height-computed;
      margin-left: $padding-small-vertical;
      margin-right: -$padding-small-vertical;
      text-align: center;
      width: $line-height-computed;
    }
  }

  .sorting_asc,
  .sorting_desc {
    border-color: $brand-primary;
    color: $brand-primary;
  }

  .sorting:after {
    color: $text-muted;
    content: "\f0dc";
  }

  .sorting_asc:after {
    color: $brand-primary;
    content: "\f0de";
  }

  .sorting_desc:after {
    color: $brand-primary;
    content: "\f0dd";
  }
}

.dataTables_empty {
  text-align: center;
}

.dataTables_filter {
  text-align: right;

  @media (max-width: $grid-float-breakpoint-max) {
    padding-bottom: $padding-large-vertical;
    padding-top: $padding-large-vertical;
    text-align: center;
  }
}

.dataTables_info {
  padding-top: $padding-large-vertical;
  white-space: nowrap;
}

.dataTables_paginate {
  text-align: center;
  white-space: nowrap;
}

.dataTables_wrapper {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  [class^="col-"]:first-child {
    padding-left: 0;
  }

  [class^="col-"]:last-child {
    padding-right: 0;
  }
}
